<div class="bg_fondo page-header section-dark" >
  <div class="filter"></div>
  <div class="content-center">
  <div class="container">
  <div class="title-brand">
  <h1 class="presentation-title">WILD BAÑOS ADVENTURES</h1>
  <div class="fog-low">
  <img src="./assets/img/fog-low.png" alt>
  </div>
  <div class="fog-low right">
  <img src="./assets/img/fog-low.png" alt>
  </div>
  </div>
  <h2 class="presentation-subtitle text-center">Haz que cada momento sea una aventura inolvidable</h2>
  </div>
  </div>
  
 
  </div>