<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Administración de Procentaje de Ganancia" blockClass="pc-component">
            <h5 class="mb-3">
                <a href="nuevoporcentaje" class="btn btn-info"><i class="fas fa-plus"></i> Nuevo</a>
            </h5>

            <div class="card tbl-card">
                <div class="table-responsive">
                    <table class="table table-sm table-hover mb-0">
                        <thead>
                            <tr>
                                <th class="text-center">Descripción</th>
                                <th class="text-center">Valor</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center" style="width: 150px;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            @for (porcentaje of listaPorcentajes; track $index) {
                            <tr>
                                <td class="text-center">{{ porcentaje.descripcion }}</td>
                                <td class="text-center">{{ porcentaje.valor }}</td>

                                @switch (porcentaje.estado.toString()) {
                                    @case ('1') {
                                        <td class="text-center">Activo</td>
                                    }
                                    @case ('0') {
                                        <td class="text-center">Inactivo</td>
                                    }
                                }

                                <td class="text-center">
                                    <button type="button" class="btn text-primary"
                                        [routerLink]="['/editar-porcentaje/', porcentaje.id_porcentajeganancia]">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button (click)="eliminar(porcentaje.id_porcentajeganancia)" type="button"
                                        class="btn text-danger"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </app-card>
    </div>
</div>